<!doctype html>
<html>

<head>
	{{@include ('default/public/head.html')}}
	<link rel="stylesheet" type="text/css" href="/default/css/heder_nav-menu.css" />
	<link rel="stylesheet" type="text/css" href="/default/css/successful_case.css" />
	<link rel="stylesheet" type="text/css" href="/default/css/bootstrap.min.css" />
</head>

<body>
	{{@include ('default/public/header.html')}}
	<div id="header_nav-wrapper">
		<div class="header_nav">
			<h2>成功案例 &#160; <span>用心给客户书写出一次次满意的答卷，创造有价值的产品
					APP开发</span></h2>
		</div>



	</div>

	<div id="header_title-wrapper">

		<div class="header_cate">
			{{each catelist}}
			<a {{if pid==$value._id}}class="active" {{/if}} href="/case/?pid={{@$value._id}}">{{$value.title}}</a>
			{{/each}}
		</div>
	</div>


	<div id="main_wrapper">


		<div class="main">
			<ul class="clear">
				{{each articlelist}}
				<li>
					<a href="/content/{{@$value._id}}"><img src="/{{$value.img_url}}" /></a>
					<p>{{$value.title}}</p>
				</li>
				{{/each}}
			</ul>
			<div id="page" class="pagination"></div>
		</div>
	</div>



	{{@include ('default/public/footer.html')}}

	<script src="/default/js/jquery-1.10.2.min.js"></script>
	<script src="/default/js/jqPaginator.js"></script>
	<script>
		$('#page').jqPaginator({
			totalPages: {{ totalPage }},
			visiblePages: 8,
			currentPage: {{ pageIndex }},
			onPageChange: function (num, type) {
				console.log(num, type);
				if (type == 'change') {
					var pid = '{{pid}}';
					if (pid) {
						location.href = `/case?pid={{pid}}&pageIndex=${num}`;
					} else {
						location.href = `/case?pageIndex=${num}`;
					}
				}
			}
		});
	</script>

</body>

</html>