<!doctype html>
<html>

<head>
    {{@include ('default/public/head.html')}}
    <link rel="stylesheet" type="text/css" href="/default/css/heder_nav-menu.css" />
    <link rel="stylesheet" type="text/css" href="/default/css/successful_case.css" />
</head>

<body>


    {{include 'default/public/header.html'}}

    <div id="header_nav-wrapper">
        <div class="header_nav header_content">
            <h2>{{content.title}}</h2>

        </div>



    </div>

    <div id="main_wrapper">


        <div class="content">

            {{@content.content}}
        </div>




    </div>



    {{@include ('default/public/footer.html')}}





</body>

</html>